@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;

}
.signup
{
    display: none;
}
body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to right,#73f5a5,#4292e3);
}
.signup form{
    height: 33rem;
    width: 25rem;
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}
.signup h1{
    margin: 20px auto;
    color: white;
    letter-spacing: 2px;
}
.signup form input
{
    margin: 20px auto;
    width: 80%;
    height: 8%;
    background-color: aliceblue;
    border: none;
    text-align: center;
}
.signup form button{
    margin: 20px auto;
    width: 50%;
    height: 9%;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    background:linear-gradient(to right,#3481c9,#e84d76);
    color:white;
    font-weight: bolder;
    letter-spacing: 2px;
}
.signup form span{
    margin: 10px auto;
}
.signup form span a{
    text-decoration: none;
    color: white;
}

/* SignIn form design */
.signin form{
    height: 28rem;
    width: 25rem;
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}
.signin h1{
    margin: 20px auto;
    color: white;
    letter-spacing: 2px;
}
.signin form input
{
    margin: 20px auto;
    width: 80%;
    height: 8%;
    background-color: aliceblue;
    border: none;
    text-align: center;
}
.signin form button{
    margin: 20px auto;
    width: 50%;
    height: 9%;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    background:linear-gradient(to right,#3481c9,#e84d76);
    color:white;
    font-weight: bolder;
    letter-spacing: 2px;
}
.signin form span{
    margin: 10px auto;
}
.signin form span a{
    text-decoration: none;
    color: white;
}
